img {
  width: 200px; /* Set the image width to 200px */
  height: 3px;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.2); /* Adjust the scale factor as needed for the desired zoom level */
}

/* Additional CSS for the movie card container */
.movie-card {
  display: flex;
  align-items: center;
  background: linear-gradient(
    to right,
    rgb(255, 252, 252) 0%,
    rgb(255, 255, 255) 50%,
    rgb(255, 255, 255) 100%
  );
  background-size: 200% 100%;
  animation: gradient-x 15s linear forwards; /* Use 'forwards' to keep the final state */
  animation-iteration-count: 1; /* Set to 1 to run the animation only once */
}

/* CSS for the h2 element */
h2 {
  margin: 40px !important;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
}

/* CSS for the p element */
h3 h2 {
  font-size: 0.2rem; /* Adjust font size as needed */
  margin: 0;
  text-align: ce;
}

/* Add hover effect for the .movie-card container */
.movie-card:hover {
  transform: scale(1.1); /* Adjust the scale factor as needed for the desired zoom level */
}

/* Keyframes for the gradient animation */
@keyframes gradient-x {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}