body{
  background-image: url(JCX30W-2T.jpg);
  background-size: 250px;
  background-repeat: repeat;
}
img{
    width:200px; /* Set the image width to 100% of its container's width */
    height:auto;
}

.info-name {
  color: rgb(143, 166, 194);
  font-weight: bold;
}


/* CSS for the h2 element */
h2 {
  font-size: 200%;
  font-weight: bold;
}

/* CSS for the p element */
p {
  font-size: 1rem; /* Adjust font size as needed */
}

/* CSS for mobile or small screens */
@media (max-width: 1000px) {
  h2 {
    margin: 10px !important; /* Adjust margin for smaller screens */
    font-size: 1.2rem; /* Adjust font size for smaller screens */
  }

  p {
    font-size: 0.9rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Adjust font size for smaller screens */
  }

  /* Use flexbox to stack h2 and p elements vertically */
  .movie-card {
    flex-direction: column;
    align-items: flex-start;
  }
}
